.container {
  height: 120px;
  width: 460px;
  background-color: rgb(228, 226, 226);
  margin-bottom: 10px;
  margin-left: 76px;
  border-radius: 8px;
  border: 1px solid rgb(179, 176, 176);
  display: flex;
  align-items: center;
  flex: 0 0 50%;
  font-size: small;
}

img {
  height: 80px;
  width: 110px;
  margin: 10px;
  margin-left: 2px;
  border-radius: 3px;
}
