<div class="container">
    <h1>My Portfolio</h1>
    
    <div *ngIf="loading" class="d-flex justify-content-center">
        <div class="spinner-border spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="!loading && (!portfolioList || portfolioList.length === 0)" 
        class="alarm alert alert-warning d-flex justify-content-center">
        Currently you don't have any stock.
    </div>

    <div *ngIf="!loading && portfolioList.length > 0" class="item-container">
        <div *ngFor="let item of portfolioList">
            <div class="single-item">
                <div class="ticker-container" (click)="goToDetail(item.ticker)">
                    <h4 class="ticker-name">{{ item.ticker }}</h4>
                    <span class="company-name">{{ item.name }}</span>
                </div>

                <div class="info-container">
                    <div class="col fst">
                        <div class="row">
                            <span>Quantity:</span>
                            <span>{{ item.quantity }}</span>
                        </div>
                        <div class="row">
                            <span>Avg. Cost / Share:</span>
                            <span>{{ item.avgPrice.toFixed(2) }}</span>
                        </div>
                        <div class="row">
                            <span>Total Cost:</span>
                            <span>{{ item.totalCost.toFixed(1) }}</span>
                        </div>
                    </div>
                    <div class="col snd">
                        <div class="row">
                            <span>Change:</span>
                            <div *ngIf="item.change < 0">
                                <span><i class="fa fa-caret-down down-arrow"></i></span>
                                <span class="decrease">{{ item.change.toFixed(2) }}</span>
                            </div>
                            <div *ngIf="item.change == 0">
                                <span class="no-change">{{ item.change.toFixed(2) }}</span>
                            </div>
                            <div *ngIf="item.change > 0">
                                <span><i class="fa fa-caret-up up-arrow"></i></span>
                                <span class="increase">{{ item.change.toFixed(2) }}</span>
                            </div>  
                        </div>
                        <div class="row">
                            <span>Current Price:</span>
                            <span *ngIf="item.change < 0" class="decrease">{{ item.curPrice.toFixed(2) }}</span>
                            <span *ngIf="item.change == 0" class="no-change">{{ item.curPrice.toFixed(2) }}</span>
                            <span *ngIf="item.change > 0" class="increase">{{ item.curPrice.toFixed(2) }}</span>
                        </div>
                        <div class="row">
                            <span>Market Value:</span>
                            <span *ngIf="item.change < 0" class="decrease">{{ item.marketValue.toFixed(1) }}</span>
                            <span *ngIf="item.change == 0" class="no-change">{{ item.marketValue.toFixed(1) }}</span>
                            <span *ngIf="item.change > 0" class="increase">{{ item.marketValue.toFixed(1) }}</span>
                        </div>
                    </div>
                </div>
                
                <div class="footer">
                    <button 
                        type="button" 
                        class="btn blue"
                        [disabled]=""
                        (click)="onBuy(item.ticker, item.name, item.curPrice)"
                    >Buy</button>
                    <button 
                        type="button" 
                        class="btn red"
                        [disabled]=""
                        (click)="onSell(item.ticker, item.name, item.curPrice, item.quantity)"
                    >Sell</button>
                </div>
            </div>
        </div>
    </div>
</div>
