nav {
  background-color: #6f4ffb;
  height: 8vh;
}

.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.712);
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-custom .nav-item .nav-link:hover {
  color: #ffffff;
}

.focus-style {
  color: #ffffff !important;
  border-radius: 12px !important;
  border: 2px solid white !important;
}
